<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

  <!--    <bean id="dataSource"-->
  <!--          class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
  <!--        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
  <!--        <property name="url" value="jdbc:mysql://10.0.0.2:3306/test?useSSL=false"/>-->
  <!--        <property name="username" value="test"/>-->
  <!--        <property name="password" value="test"/>-->
  <!--    </bean>-->
  <jdbc:embedded-database id="dataSource" generate-name="true" type="H2">
    <jdbc:script location="classpath:schema.sql"/>
    <jdbc:script location="classpath:test-data.sql"/>
  </jdbc:embedded-database>

  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="mapperLocations" value="classpath*:mybatis/*.xml"/>
  </bean>

  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean class="org.springframework.transaction.support.TransactionTemplate">
    <property name="transactionManager" ref="transactionManager"/>
  </bean>

  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="com.github.leleact.jtest.spring.tx.bean.mapper"/>
  </bean>

  <context:component-scan base-package="com.github.leleact.jtest.spring.tx"/>

  <tx:advice id="txAdvice">
    <tx:attributes>
      <tx:method name="intertInnter"/>
    </tx:attributes>
  </tx:advice>

  <aop:config>
    <aop:pointcut id="allServices"
                  expression="execution(* com.github.leleact.jtest.spring.tx.service.InnterTransaction.intertInnter(..))"/>
    <aop:advisor advice-ref="txAdvice" pointcut-ref="allServices"/>
  </aop:config>

  <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
</beans>