<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mapBean" class="com.github.leleact.jtest.spring.ioc.bean.MapBean">
        <property name="stringMap">
            <map>
                <entry key="a" value="1"/>
                <entry key="b" value="2"/>
                <entry key="c" value="3"/>
                <entry key="d" value="4"/>
                <entry key="e" value=""/>
            </map>
        </property>
    </bean>

</beans>