<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lele.test.database.mysql.bean.mapper.SequencePerDayMapper">
  <resultMap id="BaseResultMap" type="com.lele.test.database.mysql.bean.dto.SequencePerDay">
    <id column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CURRENT_VALUE" jdbcType="INTEGER" property="currentValue" />
    <result column="INCREMENT" jdbcType="INTEGER" property="increment" />
    <result column="LAST_DATE" jdbcType="CHAR" property="lastDate" />
  </resultMap>
  <sql id="Base_Column_List">
    NAME, CURRENT_VALUE, INCREMENT, LAST_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SEQUENCE_PER_DAY
    where NAME = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SEQUENCE_PER_DAY
    where NAME = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lele.test.database.mysql.bean.dto.SequencePerDay">
    insert into SEQUENCE_PER_DAY (NAME, CURRENT_VALUE, INCREMENT, 
      LAST_DATE)
    values (#{name,jdbcType=VARCHAR}, #{currentValue,jdbcType=INTEGER}, #{increment,jdbcType=INTEGER}, 
      #{lastDate,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lele.test.database.mysql.bean.dto.SequencePerDay">
    insert into SEQUENCE_PER_DAY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="currentValue != null">
        CURRENT_VALUE,
      </if>
      <if test="increment != null">
        INCREMENT,
      </if>
      <if test="lastDate != null">
        LAST_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="currentValue != null">
        #{currentValue,jdbcType=INTEGER},
      </if>
      <if test="increment != null">
        #{increment,jdbcType=INTEGER},
      </if>
      <if test="lastDate != null">
        #{lastDate,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lele.test.database.mysql.bean.dto.SequencePerDay">
    update SEQUENCE_PER_DAY
    <set>
      <if test="currentValue != null">
        CURRENT_VALUE = #{currentValue,jdbcType=INTEGER},
      </if>
      <if test="increment != null">
        INCREMENT = #{increment,jdbcType=INTEGER},
      </if>
      <if test="lastDate != null">
        LAST_DATE = #{lastDate,jdbcType=CHAR},
      </if>
    </set>
    where NAME = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lele.test.database.mysql.bean.dto.SequencePerDay">
    update SEQUENCE_PER_DAY
    set CURRENT_VALUE = #{currentValue,jdbcType=INTEGER},
      INCREMENT = #{increment,jdbcType=INTEGER},
      LAST_DATE = #{lastDate,jdbcType=CHAR}
    where NAME = #{name,jdbcType=VARCHAR}
  </update>
  <select id="selectMchtNo" resultType="Integer" >
    SELECT next_val_per_day('mcht_no');
  </select>
</mapper>