<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="300">

    <Properties>
        <Property name="name1">value</Property>
        <Property name="name2" value="value2"/>
        <Property name="filename">target/test.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS}[%t][%level]{%m}%l%n"/-->
            <!--PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/-->
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} [%M:%L] - %msg%xEx%n"/>
        </Console>

        <File name="File" fileName="${filename}">
            <PatternLayout>
                <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="com.lele.test" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File" level="error"/>
        </Logger>
    </Loggers>
</Configuration>