<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="logAspect" class="com.lele.test.spring.aop.LoggingAspect"/>

    <bean id="anotherlogAspect" class="com.lele.test.spring.aop.AnotherLoggingAspect"/>

    <context:component-scan base-package="com.lele.test.spring.aop"/>
    <aop:aspectj-autoproxy/>
    <aop:config>
        <aop:aspect id="aspectLoggging" ref="logAspect">
            <!-- @Before -->
            <aop:pointcut id="pointCutAround"
                          expression="execution(* com.lele.test.spring.aop.Excutor.excute1(..)) and args(arg1, arg2)"/>
            <aop:around method="logAroundWithArgs" pointcut-ref="pointCutAround"/>
        </aop:aspect>

        <aop:aspect id="aspectLoggging11" ref="anotherlogAspect">
            <!-- @Before -->
            <aop:pointcut id="pointCutArond11"
                          expression="execution(* com.lele.test.spring.aop.Excutor.excute1(..)) and args(arg1,arg2)"/>
            <aop:around method="logAroundWithArgs" pointcut-ref="pointCutArond11"/>
        </aop:aspect>
    </aop:config>

</beans>