<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.leleact.jtest.mybatis.spring.db.mapper.T1Mapper">
  <resultMap id="BaseResultMap" type="com.github.leleact.jtest.mybatis.spring.db.entity.T1">
    <id column="F1" jdbcType="VARCHAR" property="f1" />
    <result column="F2" jdbcType="VARCHAR" property="f2" />
    <result column="F3" jdbcType="VARCHAR" property="f3" />
  </resultMap>
  <sql id="Base_Column_List">
    F1, F2, F3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T1
    where F1 = #{f1,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKeyForUpdate" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T1
    where F1 = #{f1,jdbcType=VARCHAR} for update
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T1
    where F1 = #{f1,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.github.leleact.jtest.mybatis.spring.db.entity.T1">
    insert into T1 (F1, F2, F3)
    values (#{f1,jdbcType=VARCHAR}, #{f2,jdbcType=VARCHAR}, #{f3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.github.leleact.jtest.mybatis.spring.db.entity.T1">
    insert into T1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="f1 != null">
        F1,
      </if>
      <if test="f2 != null">
        F2,
      </if>
      <if test="f3 != null">
        F3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="f1 != null">
        #{f1,jdbcType=VARCHAR},
      </if>
      <if test="f2 != null">
        #{f2,jdbcType=VARCHAR},
      </if>
      <if test="f3 != null">
        #{f3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.leleact.jtest.mybatis.spring.db.entity.T1">
    update T1
    <set>
      <if test="f2 != null">
        F2 = #{f2,jdbcType=VARCHAR},
      </if>
      <if test="f3 != null">
        F3 = #{f3,jdbcType=VARCHAR},
      </if>
    </set>
    where F1 = #{f1,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.leleact.jtest.mybatis.spring.db.entity.T1">
    update T1
    set F2 = #{f2,jdbcType=VARCHAR}, F3 = #{f3,jdbcType=VARCHAR}
    where F1 = #{f1,jdbcType=VARCHAR}
  </update>
  <update id="batchUpdate">
    update T1
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="f2 =case" suffix="end,">
        <foreach collection="list" item="i">
          when f1=#{i.f1} then #{i.f2}
        </foreach>
      </trim>
      <trim prefix="f3 =case" suffix="end,">
        <foreach collection="list" item="i">
          when f1=#{i.f1} then #{i.f3}
        </foreach>
      </trim>
    </trim>
    <where>
      F1 in
      <foreach collection="list" item="i" open="(" close=")" separator=",">
        #{i.f1}
      </foreach>
    </where>
  </update>
  <select id="selectByF2" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T1
    where F2 = #{f2,jdbcType=VARCHAR}
  </select>
  <update id="createTable">
    create table if not exists T1
    (
      f1 varchar(32),
      f2 varchar(32),
      f3 varchar(32),
      primary key (f1)
    );
  </update>
</mapper>