<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.leleact.jtest.mybatis.spring.db.mapper.T2Mapper">
  <resultMap id="BaseResultMap" type="com.github.leleact.jtest.mybatis.spring.db.entity.T2">
    <id column="F1" jdbcType="VARCHAR" property="f1" />
    <result column="F2" jdbcType="VARCHAR" property="f2" />
    <result column="F3" jdbcType="VARCHAR" property="f3" />
  </resultMap>
  <sql id="Base_Column_List">
    F1, F2, F3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T2
    where F1 = #{f1,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKeyForUpdate" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T2
    where F1 = #{f1,jdbcType=VARCHAR} for update
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T2
    where F1 = #{f1,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.github.leleact.jtest.mybatis.spring.db.entity.T1">
    insert into T2 (F1, F2, F3)
    values (#{f1,jdbcType=VARCHAR}, #{f2,jdbcType=VARCHAR}, #{f3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.github.leleact.jtest.mybatis.spring.db.entity.T1">
    insert into T2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="f1 != null">
        F1,
      </if>
      <if test="f2 != null">
        F2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="f1 != null">
        #{f1,jdbcType=VARCHAR},
      </if>
      <if test="f2 != null">
        #{f2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.leleact.jtest.mybatis.spring.db.entity.T1">
    update T2
    <set>
      <if test="f2 != null">
        F2 = #{f2,jdbcType=VARCHAR},
      </if>
    </set>
    where F1 = #{f1,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.leleact.jtest.mybatis.spring.db.entity.T1">
    update T2
    set F2 = #{f2,jdbcType=VARCHAR}
    where F1 = #{f1,jdbcType=VARCHAR}
  </update>
  <select id="selectByF2" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T2
    where F2 = #{f2,jdbcType=VARCHAR}
  </select>
  <update id="createTable">
    create table if not exists T2
    (
      f1 varchar(32),
      f2 varchar(32),
      f3 varchar(32),
      primary key (f1)
    );
  </update>
</mapper>